body{
    background-image: url(/plaatjes/achtergrond.jpg);
    background-size: 100%;
    width:100%;
    height:100%;
    margin: 0;
}



#titel{
   margin-left: 40%;
   margin-top: 5%;
   color: rgb(182, 178, 178);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

#tekst{
    margin-left: 20%;
    margin-top: 3%;
    color: rgb(182, 178, 178);
    margin-right: 20%;
    font-family: 'Times New Roman', Times, serif;
 }



#myslides{
    width: 250px;
    height: 250px;
 }

   ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }


    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(201, 199, 199);

    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: rgb(29, 10, 97);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    
    li a:hover {
      background-color: #111;
      text-decoration: none;
    }
 
  #titel{
   margin-left: 40%;
   margin-top: 5%;
   color: rgb(182, 178, 178);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #tekst{
    margin-left: 20%;
    margin-top: 3%;
    color: rgb(182, 178, 178);
    margin-right: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }

   #titel2{
    margin-left: 40%;
    margin-top: 5%;
    color: rgb(182, 178, 178);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
 
   #tekst2{
     margin-left: 20%;
     margin-top: 3%;
     color: rgb(182, 178, 178);
     margin-right: 20%;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #mondriaan{
      border-radius: 8px;
      width: 50%;
      height: 250px;
    }

    #webshop{
      border-radius: 8px;
      width: 50%;
      height: 250px;
    }
    .images{
      display: inline-flex;
      width: 100%;
      position: relative;
      padding: 4px;
    
    }
    .block1 img{
      width: 100% ;
     height: 300px;
    }
    .block1{
      padding: 3px;
      width: 50%;
    }

    p{
       color: rgb(182, 178, 178);

    }

    h2{
      color: rgb(182, 178, 178)
    }

    input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
  }
  
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
  }
  

  input[type=submit]:hover {
    background-color: #247434;
  }
  
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  #contact{
    color: rgb(182, 178, 178);
    margin-left: 40%;
    margin-right: 40%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  #fname{
   color: rgb(182, 178, 178);
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;

  }

  #landen{
    color: rgb(182, 178, 178);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
  }

  #lname{
    color: rgb(182, 178, 178);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
  }
  
 #subject{
    color: rgb(182, 178, 178);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
 }

 #country{
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

#voornaam{
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

#achternaam{
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}



.doos{
   padding: 10px;
   width: 100%;

}

.balk{
  border: 1px solid white;
  padding: 20px;
  margin-top: 10px;

}
.innerbalk1{
  border: 1px solid white;
  padding: 25px;
  background-color: rgb(182, 178, 178);
  border-radius: 15px;
  position: relative;
  width: 75%;
}

.tekst{
  position: absolute;
  top: 10px;
  color:  rgb(22, 86, 146);
  margin-right: 50%;
  margin-left: 50%;
}

.html{

}

.innerbalk2{
  border: 1px solid white;
  padding: 25px;
  background-color: rgb(182, 178, 178);
  border-radius: 15px;
  position: relative;
  width: 80%;
}

.innerbalk3{
  border: 1px solid white;
  padding: 25px;
  background-color: rgb(182, 178, 178);
  border-radius: 15px;
  position: relative;
  width: 20%;
}

.vaardigheden{
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 50px;
}

.vaardigheden2{
  margin-left: 25%;
  margin-right: 25%;
  font-size: 18px;
  margin-top: 20px;
}