body{
    margin: 0;
    background-image: url(background.jpg);
    background-size: 1000000000px;
}

a:hover {
    background-color: rgb(88, 87, 87);
    padding: 25%;
  }

#titel{
   margin-left: 40%;
   margin-top: 5%;
   color: black;
   font-family: 'Times New Roman', Times, serif;
   
}

#tekst{
    margin-left: 20%;
    margin-top: 5%;
    color: black;
    margin-right: 20%;
    font-family: 'Times New Roman', Times, serif;
 }

 img{
     width: 250px;
     height: 250px;
     margin-top: 10%;
 }